@charset "UTF-8";

body 
    {
	font-family: Tahoma, Verdana, sans-serif;
	color: #000;
	background-color: #888888; 
	margin: 0 auto;
	min-width: 768px;
	max-width: 1024px;
    }

/* Arrange the SECTION and the ASIDE elements side-by-side in columns */
main 
    {
	display: flex;
	flex-direction: column;
    }