@charset "utf-8";

html 
{
    background-color: black;
}

div#container
{
   /*Image used for background was edited using Google Gemini to remove all text, Original from https://www.movieposters.com/products/flow-mpw-149218 */
   border: white, 10px, solid;
   background-image: url("../images/blank-flow-poster.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 1600px;
   height: 2406px;
}

body
{
    color:white;
    font-family: '', Courier, monospace, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header, section, footer 
{
    padding: 2em 3em;
}

/* For title */
h1
{
    font-family: "Permenant Marker", sans-serif; 
    color: white;
}
h2
{

}
ul li
{
    font-family: "Source Sans 3", sans-serif;
    list-style-type: none;
    display: inline-block;
    color: #226565;
    text-align: center;
    position: relative;
    left: 3em;
    font-size: 30px;
}
ul li ul
{
    display:grid;
}
small
{
    font-size: 50%;
}
/* id styling*/
#fancy
{
    font-family: "Courgette", serif;
    font-style: italic;
}
#caps-lock
{
    text-transform: uppercase;
    font-weight: bold;
}
#small
{
    font-size: 75%
}
#single li
{
    text-align: center;
    display:grid;
    position:relative;
    top:-1em;
    left: -1em;
    font-size: 50px
}
#footer
{
    position:relative;
    bottom:1;
    top: 100;
}