@charset "utf-8";

html 
{
    background-color: black;
}
/*Poster Container with background image*/
div#container
{
   /*Image used for background was edited using Google Gemini to remove all text, Original from https://www.movieposters.com/products/flow-mpw-149218 */
   border: 10x solid white;
   background-image: url("../images/blank-flow-poster.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 1600px;
   height: 2406px;
}

body
{
    font-family: "Source Sans 3", sans-serif; 
    color:white;
    margin: 0;
    padding: 0;
}
header, section, footer 
{
    padding: 2em 3em;
}

main
{
    font-family: "Source Sans 3", sans-serif; 
    position: relative;
    top: 50em;
    text-align: center;
}
footer
{
    font-family: "Source Sans 3", sans-serif; 
    position: relative;
    top: 500px;
    text-align: center;
}

/*Title Text*/
h1
{
    font-family: "Permanent Marker", "Knewave", Courier, sans-serif;
    color: white;
    font-size: 250px;
}
/*Subtitle Text*/
h2
{
    font-family: "Source Sans 3", sans-serif;
    position:relative;
    top: -6em;
    word-spacing: 6px;
}
/*Awards Entry Text*/
h3
{
    font-family: "Source Sans 3", sans-serif;
    position:relative;
    top: -6em;
    word-spacing: 6px;
}
/*Credits Text*/
p
{
    font-family: "Julius Sans One", sans-serif;
    position:relative;
    bottom: 10em;
    left: 10em;
    text-align: justify;
    font-size: 20px;
}
/*Quote Text*/
ul li
{
    font-family: "Source Sans 3", sans-serif;
    list-style-type: none;
    display: inline-block;
    color: #226565;
    text-align: center;
    position: relative;
    top:-1em;
    left: 1em;
    font-size: 40px;
}
ul li ul
{
    display:grid;
}
small
{
    font-size: 50%;
}
img
{
    position:relative;
    left:-10px;
    bottom:-1em;
}
/*Description Text*/
blockquote
{
    font-size: 100px;
    color:white;
    right: 70em;
    top:15em;

}
/* id styling*/

/*For text that needs to be italics*/
#fancy
{
    font-family: "Courgette", serif;
    font-style: italic;
}
/*For sections that require all uppercase and bold text*/
#caps-lock
{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
/*For smaller text size in specific sections*/
#small
{
    font-size: 75%
}
/*For single centered quotation*/
#single li
{
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
    display:grid;
    position:relative;
    top: -3em;
    left: -1em;
    font-size: 50px;
}
#images li
{
    position:relative;
    top: -5em;
    left: -1em;
}
#subtitle li
{
    color: white;
    font-family: "Source Sans 3", sans-serif;
    position:relative;
    top: -1em;
    left: -1em;
    word-spacing: 6px;
    font-size: 22px;
    line-height: 0.5;
}
/*For last credit line to be right aligned*/
#right 
{
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    position:relative;
    left: -176px;
}
/*Position adjustments for footer image*/
#copyrights
{
    position:relative;
    top: -5em;
    left: -1em;
}
/*For Movie description text*/
#description
{
    color: #226565;
    font-family: "Source Sans 3", sans-serif;
    font-size: 50px;
}