@charset "utf-8";

html 
{
    background-color: black;
}

div#container
{
   /*Image used for background was edited using Google Gemini to remove all text, Original from https://www.movieposters.com/products/flow-mpw-149218 */
   border: white, 10px, solid;
   background-image: url("../images/blank-flow-poster.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 1600px;
   height: 2406px;
}

body
{
    font-family: "Source Sans 3", sans-serif; 
    color:white;
    margin: 0;
    padding: 0;
}
header, section, footer 
{
    padding: 2em 3em;
}

main
{
    font-family: "Source Sans 3", sans-serif; 
    position: relative;
    top: 50em;
    text-align: center;
}
footer
{
    font-family: "Source Sans 3", sans-serif; 
    position: relative;
    top: 500px;
    text-align: center;
}

/* For title */
h1
{
    font-family: "Permanent Marker", "Knewave", Courier, sans-serif;
    color: white;
    font-size: 250px;
}

h2
{
    font-family: "Source Sans 3", sans-serif;
    position:relative;
    top: -6em;
    word-spacing: 6px;
}

h3
{
    font-family: "Source Sans 3", sans-serif;
    position:relative;
    top: -6em;
    word-spacing: 6px;
}

p
{
    font-family: "Julius Sans One", sans-serif;
    position:relative;
    bottom: 10em;
    left: 10em;
    text-align: justify;
    font-size: 20px;
}

ul li
{
    font-family: "Source Sans 3", sans-serif;
    list-style-type: none;
    display: inline-block;
    color: #226565;
    text-align: center;
    position: relative;
    top:-1em;
    left: 1em;
    font-size: 40px;
}

ul li ul
{
    display:grid;
}

small
{
    font-size: 50%;
}
img
{
    position:relative;
    left:-10px;
    bottom:-1em;
}
aside
{
    font-size: 100em;
    color:white;
    position:relative;
    left: 4em;
}
/* id styling*/
#fancy
{
    font-family: "Courgette", serif;
    font-style: italic;
}

#caps-lock
{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

#small
{
    font-size: 75%
}

#single li
{
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
    display:grid;
    position:relative;
    top: -3em;
    left: -1em;
    font-size: 50px;
}
#images li
{
    position:relative;
    top: -5em;
    left: -1em;
}
#subtitle li
{
    color: white;
    font-family: "Source Sans 3", sans-serif;
    position:relative;
    top: -1em;
    left: -1em;
    word-spacing: 6px;
    font-size: 22px;
    line-height: 0.5;
}
#right 
{
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    position:relative;
    left: -176px;
}
#copyrights
{
    position:relative;
    top: -5em;
    left: -1em;
}