@charset "utf-8";

html 
{
    background-color: black;
}

div #container
{
   border: 5px, white, solid;
   background-image: url("../images/flow-blank-poster.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 800px;
   height: 1203px;
}

body
{
    color:white;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header, section, footer 
{
    padding: 2rem 3rem;
}

/* For title */
h1 
{
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}