@charset "UTF-8";

html 
{
   background-image: url("assignment-2/images/flow-blank-poster.jpg");
   background-size: cover;
   background-position: center;
}

body
{
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header, section, footer 
{
    padding: 2rem 3rem;
}

/* For title */
h1 
{
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}