@charset "utf-8";

html 
{
    background-color: lightgray;
}
/*Website Container*/
div#page
{
   /*Image used for background was edited using Google Gemini to remove all text, Original from https://www.movieposters.com/products/flow-mpw-149218 */

   background-color: gray;
   background-size: contain;
   background-repeat: no-repeat;
   width: 1600px;
   height: 2406px;
}
header
{
    background-color: black;

}
h1 
{
	color: #333;
	background-color: transparent;
	font-weight: normal;
}
ul li
{
    font-family: "Source Sans 3", sans-serif;
    list-style-type: none;
    display: inline-block;
    color: #226565;
    text-align: center;
    position: relative;
    font-size: 25px;
    margin: 10px;
}
#product
{
    position:relative;
    top: 50px;
    left: 100px
}
#navigation
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: white;
}
a
{
    text-decoration: none;
    color: #3778b0
}
a:hover
{
    color: black;
    text-decoration: underline;
}
a:active
{
    color: lightgrey;
    text-decoration: underline;
}