@charset "utf-8";

html 
{
    background-color: lightgray;
}
/*Website Container*/
div#navigation
{
   /*Image used for background was edited using Google Gemini to remove all text, Original from https://www.movieposters.com/products/flow-mpw-149218 */

   background-color: gray;
   background-size: contain;
   background-repeat: no-repeat;
   width: 1600px;
   height: 2406px;
}
header
{
    background-color: black;

}
h1 
{
	color: #333;
	background-color: transparent;
	font-weight: normal;
}
ul li
{
    font-family: "Source Sans 3", sans-serif;
    list-style-type: none;
    display: inline-block;
    color: #226565;
    text-align: center;
    position: relative;
    top:-1em;
    left: 1em;
    font-size: 40px;
}
