@charset "utf-8";

html 
{
    background-color: #b2b2b2;
}
body{
    transform-origin: top left;
    margin: 3vw;
    padding: 2vw;
}
/*Website Container*/
div#pages
{
   /*Image used for background was edited using Google Gemini to remove all text, Original from https://www.movieposters.com/products/flow-mpw-149218 */

   background-color: lightgray;
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   max-width: 1920px;
}
header
{
    background-color: white;
}
footer
{
    font-size: 75%;
}
h1 
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #333;
	background-color: transparent;
	font-weight: normal;
    text-align: center;
}
h2
{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 100%;
    text-align: center;
}
h3
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 150%;
}
ul li
{
    font-family: "Source Sans 3", sans-serif;
    list-style-type: none;
    display: inline-block;
    color: #226565;
    text-align: center;
    position: relative;
    font-size: clamp(1rem, 3vw, 2rem);
    margin: 10px;
}
ul
{
    text-align: center;
}
table
{
    width: 75%;
    border-collapse: collapse;
    position: relative;
    left: 5vw;
}
th, td 
{
    border: 3px solid #3778b0;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
form
{
    position:relative;
    bottom: 15px;
}
fieldset{
    border-color: #3778b0;
    border-width: 5px;
}
em
{
    font-size: 20px;
    font-weight: bold;
}
p
{
    margin-left: 5px;
}
button, 
input[type="submit"], 
input[type="reset"]
{
    background-color: #3778b0;
    color: white;
    border: none;
    font-size: 16px;
}
#product
{
    position:relative;
    top: 50px;
    left: 100px
}
#navigation
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: white;
}
#logo{
    background-color:#3778b0;
}
#walkmanAbstract
{
    position: relative;
    left: 0px;
    right: 75%;
}
#walkmanInfo
{
    margin: 10px
}
#aboutus
{
    margin: 15px;
}
a
{
    text-decoration: none;
    color: #3778b0
}
a:hover
{
    color: black;
    text-decoration: underline;
}
a:active
{
    color: lightgrey;
    text-decoration: underline;
}
.container
{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
@media (min-width: 360px) 
{
    .layout 
    {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .section
    {
        padding: 10px;
    }
}
@media (min-width: 600px)
{
    .layout
    {
        gap: 20px;
    }
    .section{
        padding: 20px;
    }
}
@media (min-width: 1024px)
{
    .layout
    {
        gap: 40px;
    }
    .section{
        padding: 40px;
    }
}
